<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= subtitle %></p>
    <table>
      <tr>
        <th>
          <%= headers.idHeader %>
        </th>
        <th>
          <%= headers.termHeader %>
        </th>
        <th>
          <%= headers.descriptionHeader %>
        </th>
        <th>
          <%= headers.referencesHeader %>
        </th>
      </tr>
      <% terms.forEach((term) => { %>
        <tr>
          <td>
            <%= term.id %>
          </td>
          <td>
            <%= term.term %>
          </td>
          <td>
            <%= term.description %>
          </td>
          <td>
            <%= term.reference %>
          </td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
